FTP_HOST=ftp.datasus.gov.br
FTP_DIR=/dissemin/publicos/SIASUS/200801_/Dados
FTP_USER=anonymous
FTP_PASSWORD=
PAPA_WORK_DIR=dados_papa_work
PAPA_OUTPUT_DIR=dados_papa_saida
PAPA_CHUNK_SIZE=50000
MAX_MONTHS_PER_JOB=3
MAX_UPLOAD_MB=512
MAX_DOWNLOAD_AGE_HOURS=24
CORS_ALLOW_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
